streamlit
pandas
requests
openai
youtube-transcript-api
yt-dlp
webvtt-py
python-docx
openpyxl
chardet
beautifulsoup4
matplotlib
XlsxWriter
matplotlib
rapidfuzz
scikit-learn
urllib3
gunicorn
lxml
serpapi

#update